.banners {
    position: relative;
    margin: 0 46px;
    overflow: hidden;
    h1 {
        background-image: url('../img/cloud.png');
        background-repeat: no-repeat;
        min-height: 400px;
        margin: 0 auto;
        padding-top: 93px;
        background-position-y: center;
        position: relative;
        z-index: 2;
        color: $color-main-green;
        background-position: center;
        font-size: 75px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: center;
        @media (max-width: $tablets-max) {
            background-size: 100%;
            font-size: 60px;
            line-height: 70px;
        }
        @media (max-width: $mobiles-max) {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            padding-top: 38px;
            text-align: center;
            background-size: 250px;
            background-position: center 24px;
            min-height: 125px;
        }
        p {
            font-size: 120px;
            font-style: normal;
            font-weight: 700;
            line-height: 100px;
            letter-spacing: 0em;
            text-align: center;
            @media (max-width: $tablets-max) {
                font-size: 100px;
            }
            @media (max-width: $mobiles-max) {
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;
            }
        }
    }
}

.banners__tree {
    position: absolute;
    width: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.banners__phone {
    width: 582.72px;
    height: 1022px;
    margin: 0 auto;
    position: relative;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    @media (max-width: $mobiles-max) {
        background-color: $color-default-white;
        width: 100%;
        height: 463px;
    }
}

.banners__inner {
    min-height: 1828px;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    @media (max-width: $mobiles-max) {
        min-height: 722px;
    }
}

.banners__info {
    min-height: 126px;
    background-color: $color-main-yellow;
    box-shadow: 0px 8px 40px 3px #634E07;
    border-radius: 25px;
    color: $color-main-green;
    width: 60%;
    margin: 93px auto 0;
    @media (max-width: $tablets-max) {
        width: 100%;
        min-height: 61px;
        box-shadow: 0px 8px 40px 3px #634E07;
        border-radius: 25px;
        margin: 35px auto 0;
    }
    @media (max-width: $mobiles-max) {
        width: 311px;
    }
    p {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        padding: 30px 62px;
        margin: 0;
        @media (max-width: $mobiles-max) {
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: center;
            padding: 9px 20px;
        }
    }
    span {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        @media (max-width: $mobiles-max) {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
}