.footer {
    background-color: $color-main-green;
    min-height: 210px;
}

.footer__inner {
    display: flex;
    padding-top: 50px;
    align-items: center;
    @media (max-width: $mobiles-max) {
        flex-direction: column;
    }
}

.footer__text {
    color: $color-default-white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}